<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\Export\"/>
    <add key="password" value=""/>
    <add key="userName" value="some_email_here@domain.com"/>
    <add key="baseUrl" value="https://subdomain.zendesk.com"/>
  </appSettings>
</configuration>